* {
    box-sizing: border-box;
  }
  
  body {

    font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 40px;
		font-weight: 200;
        line-height: 1.65;
	}
     
  h1{
      font-size: 40px; 
      line-height: 1.5;
      font-weight: 200;
  }

  h2{
      font-size: 28px;
      line-height: 1.5;
      font-weight: 200;
  }

  h3{
    font-size: 28px;
    line-height: 1.5;
    font-weight: 200;
    font-style: italic;
}

  
  
  /*nav styling*/
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 10;
    padding: 1% 0;
    background-color: white;
    margin-top: 0px;
    padding-top: 20px;
    
  }


  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 50px;
   
  }

  nav ul li {
      padding-right: 20px;
  }

  a {

    font-size: 18px;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #333;
    line-height: 80%;
    margin-right: 10px;
    
  }
  .funtext {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #888;
    line-height: 100%;
    
  }

  i {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    float: left;
    
    fill: #999;
  }

  /* Popup container */
.popup {
	position: relative;
	
	cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: -300%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: -155%;
	left: 50%;
	margin-left: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }

  
  header {
    padding-top: 60px;
    padding-bottom: 2px;
    
  }
  
  section {
    padding: 2px 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .row {
    display: flex;
    margin-top: 50px;
    
  }

  
  
  
  .column.text {
      width: 75%;
      background-color: white;  
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
       
  }

  .column.image > ul {
    margin-right: 0px;
  }

  .text p {
    font-size: 28px;
    font-weight: lighter;
  }


.button {
    border: 1px solid darkgrey;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.75rem;
    max-width: 20rem;
    height: 3.75em;
    line-height: 3.75em;
    border-radius: 3.75em;
    padding: 0 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 20px;
    
}

footer {
    
    padding: 1% 0;
    background-color: white;
    margin-top: 50px;
    line-height: 10px;
    height: 350px;
    text-align: center;
    border-top: 1px solid gray;
    background-repeat: no-repeat;
    background-size: 100%;
     
  


  }
footer ul {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    
    
}

.button:hover {
    background-color: rgb(39, 148, 221);  
    color: white;
}

nav ul li:hover {
    transform: scale(1.1);
}

footer ul li:hover {
  transform: scale(1.1);
}

.footerinfo li {
    padding-left: 20px;
}

 

@media screen and (max-width: 480px) {
    .text p {
     font-size: 28px;
    }

    .row {
      width: 800px;
      height: 900px;
      margin-top: 0px;

    }

    .row.top {
      height: 1400px;
    }

    .column {
      display: inline-block;
      height: 700px;
   
  
    }
    
    .column.text {
      
      margin-top: 0px;
      padding-top: 0px;
     
  }
   

  .column.text.intro{
    display: inline-block;
    width: 80%;
    
  }

  footer {
    width: 800px;
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 0px;
  }

  h3 {
    margin-top: 0px;
  }
   

}
    
